.Question {
  width: 100%;
}

:root {
  --question-stripe-color: #69748c11;
}
@media (prefers-color-scheme: dark) {
  :root {
    --question-stripe-color: #ababab21;
  }
}

.Resolved {
  background: repeating-linear-gradient(
    45deg,
    var(--question-stripe-color),
    var(--question-stripe-color) 20px,
    transparent 20px,
    transparent 40px
  );
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* move buttons to the right */
  align-self: end;
  gap: 0.5em;
}

@media (min-width: 600px) {
  .Container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .Buttons {
    /* make sure that on larger screens, the buttons are centered */
    align-self: initial;
  }
}
