.Question {
  width: 100%;
}

.Resolved {
  background: repeating-linear-gradient(
    45deg,
    #69748c11,
    #69748c11 20px,
    #fff 20px,
    #fff 40px
  );
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* move buttons to the right */
  align-self: end;
  gap: 0.5em;
}

@media (min-width: 600px) {
  .Container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .Buttons {
    /* make sure that on larger screens, the buttons are centered */
    align-self: initial;
  }
}
