:global(.htmx-request).Button {
  animation: pulsingOpacity 1.5s linear infinite both;
}

@keyframes pulsingOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
